// Generated for C++23 - Raylib QuickJS Bindings
#pragma once

#include <raylib.h>
#include <quickjs.h>

namespace RaylibBindings {

    void InitAllFunctions(JSContext *ctx, JSValue ns);

} // namespace RaylibBindings